/* 부트 스트랩 사용시 스크롤 속도 늦춰지는 거 복구*/
:root {
    scroll-behavior: auto;
}

.dark{
    background: black;
    color: white;
}
.alert-box{
    background-color: skyblue;
    padding: 20px;
    color: white;
    border-radius: 5px;
    display: none; /*평소에 숨기고 싶을 때 / 보이는 건 block -> 활용해서 드롭다운 메뉴 및 알림창 만들기 가능*/ 
}

.list-group{
    visibility: hidden;
    height: 0px;
    overflow: hidden;  
    transition: all 1s;
}

.show{
    visibility: visible;
    height: 200px;
}

.black-bg {
    width : 100%;
    height : 100%;
    position : fixed;
    background : rgba(0,0,0,0.5);
    z-index : 6;
    padding: 30px;
    visibility: hidden;
    opacity: 0;
    top: -100px;
    transition: all 1 s;
  }

.show-modal{
    visibility: visible;
    opacity: 1;
    top: 0px;
}

.white-bg {
    background: white;
    border-radius: 5px;
    padding: 30px;
    color: black;
  } 

.slide-container{
    /* vw는 브라우저 폭 */
    width: 300vw; 
    transition: all 1s;
}

.slide-box{
    width: 100vw;
    float: left;
}

.slide-box img{
    width: 100%;
}

.navbar{
    /* 상단 고정 */
    position: fixed;
    width: 100%;
    z-index: 5;
}

.navbar-brand{
    font-size: 20px; 
}

.scroll_ch_box{
    width: 100%;
    height: 10px;
    background-color: red;
    position: fixed;
}

.form-hide{
    display: none;
}




.grey {
    background: lightgrey;
    height: 2000px;
    margin-top: 500px;
  }
  .text {
    float: left;
    width : 300px;
  }
  .image {
    float: right;
    width : 400px;
    position: sticky;
    top: 100px;
  }